header.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items:center;
   
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
   justify-content:flex-end;
   width:90%;
   align-items:center;
}
nav {
    display: flex;
    align-items: center;
}
header.container h1 {
    margin-bottom: 50px;
    display:flex;
}
header {
    background: #333;
    color: #fff;
    padding: 20px 0;

}
section .container{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    height: 300px;
    width:500px;
}
footer{
    display:flex;
   justify-content:center;
}
