header.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.nav1 ul {
    list-style: none;
    display: flex;
    gap: 15px;
   justify-content:flex-end;
   width:90%;
   align-items:center;
}

header.container h1 {
    margin-bottom: 50px;
    display:flex;
}
header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    border-radius:60px;
}
.header__wrap img{
   
    height:50px;
    width:50px;
}
.header__head {
    width:130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .container{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    height: 300px;
    width:500px;
}
footer.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    width:90%;
    max-width:1200px;
    margin: 0 auto;
}
.header__wrap{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
footer {
    background: #333;
    color: #fff;
    padding: 50px 0;
    border-radius:60px;
}
.footer__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:7px;
    gap:15px;
}
.bestplayers{
    display:flex;
    flex-direction:column;
}
.footer__wrap img{
    height:40px;
    width:40px;
    border-radius:50%;
    
}
.footer__foot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding-top:10px;
    margin-left:7px;
}
.footer1{
    display:flex;           
    justify-content:center;
    font-size:40px;
}
body{
    background-color:antiquewhite;
}
.more{
    display:flex;
   justify-content:center;
   margin-left:10px;
}
.nav2 ul{
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content:center;
   margin-right: 27px;
  
}
.logo{
    display:flex;
    justify-content:center;
    padding-top:10px;
}
    .logo img {
        height: 80px;
        width: 80px;
    }